@font-face {
  font-family: 'Proxima Nova Rg';
  src: url('../fonts/ProximaNova-Regular.eot');
  src: url('../fonts/ProximaNova-Regular.eot?#iefix') format('embedded-opentype'),
    url('../fonts/ProximaNova-Regular.woff') format('woff'),
    url('../fonts/ProximaNova-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Proxima Nova Bl';
  src: url('../fonts/ProximaNova-Black.eot');
  src: url('../fonts/ProximaNova-Black.eot?#iefix') format('embedded-opentype'),
    url('../fonts/ProximaNova-Black.woff') format('woff'),
    url('../fonts/ProximaNova-Black.ttf') format('truetype');
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: 'Proxima Nova Rgi';
  src: url('../fonts/ProximaNova-RegularIt.eot');
  src: url('../fonts/ProximaNova-RegularIt.eot?#iefix') format('embedded-opentype'),
    url('../fonts/ProximaNova-RegularIt.woff') format('woff'),
    url('../fonts/ProximaNova-RegularIt.ttf') format('truetype');
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'Proxima Nova Bli';
  src: url('../fonts/ProximaNova-BoldIt.eot');
  src: url('../fonts/ProximaNova-BoldIt.eot?#iefix') format('embedded-opentype'),
    url('../fonts/ProximaNova-BoldIt.woff') format('woff'),
    url('../fonts/ProximaNova-BoldIt.ttf') format('truetype');
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: 'Proxima Nova Eb';
  src: url('../fonts/ProximaNova-Extrabld.eot');
  src: url('../fonts/ProximaNova-Extrabld.eot?#iefix') format('embedded-opentype'),
    url('../fonts/ProximaNova-Extrabld.woff') format('woff'),
    url('../fonts/ProximaNova-Extrabld.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Proxima Nova Bl';
  src: url('../fonts/ProximaNova-Bold.eot');
  src: url('../fonts/ProximaNova-Bold.eot?#iefix') format('embedded-opentype'),
    url('../fonts/ProximaNova-Bold.woff') format('woff'),
    url('../fonts/ProximaNova-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Proxima Nova Sb';
  src: url('../fonts/ProximaNova-Semibold.eot');
  src: url('../fonts/ProximaNova-Semibold.eot?#iefix') format('embedded-opentype'),
    url('../fonts/ProximaNova-Semibold.woff') format('woff'),
    url('../fonts/ProximaNova-Semibold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Proxima Nova Lt';
  src: url('../fonts/ProximaNova-Light.eot');
  src: url('../fonts/ProximaNova-Light.eot?#iefix') format('embedded-opentype'),
    url('../fonts/ProximaNova-Light.woff') format('woff'),
    url('../fonts/ProximaNova-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Proxima Nova Sbi';
  src: url('../fonts/ProximaNova-SemiboldIt.eot');
  src: url('../fonts/ProximaNova-SemiboldIt.eot?#iefix') format('embedded-opentype'),
    url('../fonts/ProximaNova-SemiboldIt.woff') format('woff'),
    url('../fonts/ProximaNova-SemiboldIt.ttf') format('truetype');
  font-weight: 600;
  font-style: italic;
}

@font-face {
  font-family: 'Proxima Nova Lti';
  src: url('../fonts/ProximaNova-LightIt.eot');
  src: url('../fonts/ProximaNova-LightIt.eot?#iefix') format('embedded-opentype'),
    url('../fonts/ProximaNova-LightIt.woff') format('woff'),
    url('../fonts/ProximaNova-LightIt.ttf') format('truetype');
  font-weight: 300;
  font-style: italic;
}

html {
  height: 100%;
  box-sizing: border-box;
}
body {
        font-family: 'Proxima Nova Rg';
        background: #fafafa;
        height: 100%;
        position: relative;
        color: #59595a;
}
h1 {
    font-family: 'Proxima Nova Eb';
}
h2 {
    font-family: 'Proxima Nova Lt';
}

a {
  color:#e8442c; 
}

a:hover, a:link, a:active
{
    text-decoration: none;
}

.btn-top {
  margin-top: 15px;
}

button:focus { 
  outline:0 !important; 
}

.container {
    max-width: 1140px;
}

small {
  font-family: 'Proxima Nova Rg';
  color: #90949c !important;
}

.vertical-align {
    display: table-cell;
  text-align: center;
  vertical-align: middle;
}

.btn-social {
  text-align: center;
}

#wrapper {
    position:relative;
    min-height:100%;
}
#content {
    padding-bottom:100px; /* Height of the footer element */
}

/* centered columns styles */
.row-centered {
    text-align:center;
}
.col-centered {
    display:inline-block;
    float:none;
    /* reset the text-align */
    text-align:left;
    /* inline-block space fix */
    margin-right:-4px;
}

.col-fixed {
    /* custom width */
    width:320px;
}
.col-min {
    /* custom min width */
    min-width:320px;
}
.col-max {
    /* custom max width */
    max-width:320px;
}

.navbar-default .navbar-nav>.open>a, .navbar-default .navbar-nav>.open>a:focus, .navbar-default .navbar-nav>.open>a:hover {
  color: #ffab40;
  background: transparent;
}

.navbar-default {
    background: #fff;
    border: 1px solid transparent;
    height: 65px;
    padding-top: 7px;
    border-bottom: 0;
    box-shadow: 0 1px 3px 0 rgba(0,0,0,.05),0 1px 0 0 rgba(0,0,0,.05);
    margin-bottom: 30px;
}
.navbar-brand{
    position: relative;
    width: 210px;
    height: 50px;
    background: url('../images/adagigslogoclr_beta.png') no-repeat;
    background-position: 50% 50%; 
    margin-right: 40px;
    left: 15px;
}

.navbar-nav {
    margin-top: 0;
    margin-right: -15px;
    margin-bottom: 0;
    margin-left: -15px;
}
.navbar-default .navbar-nav>li>a {
    font-family: 'Proxima Nova Rg';
    font-size: 1em;
    letter-spacing: .09em;
    color: #7f8c8d;
    text-transform: capitalize;
}
.navbar-default .navbar-nav>li>a:hover {
    color: #f0810b;
}
.form-signin {
  max-width: 80%;
  padding: 15px 35px 45px;
  margin: 40px auto;
  background-color: #fff;
  border-radius: 3px;
  box-shadow: 0 1px 2px rgba(0,0,0,.1);
}
.form-signin .form-signin-heading,
.form-signin .checkbox {
  margin-bottom: 30px;
}
.form-signin .checkbox {
  font-weight: normal;
}
.form-signin .form-control{
  position: relative;
  font-size: 16px;
  height: auto;
  padding: 10px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.form-signin .form-control:focus {
  z-index: 2;
}
.form-signin input[type="text"] {

  margin-bottom: 10px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}
.form-signin input[type="password"] {
  margin-bottom: 20px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.checkbox, .radio{
	margin-left: 20px;
}

.rstPas {
	position: relative;
	margin-top: -7px;
	float: right;
}
.alert {
  position: absolute;
  top: 90px;
  right: 20px;
  width: 20%;
  z-index: 9999;
  background: #fff;
}
.alert-danger {
    font-size: 1.2em;
    color: #f0520c;
    background-color: #fff;
    border:2px solid #f0520c;
}

.alert-success {
    font-size: 1.2em;
    color: #05b750;
    background-color: #fff;
    border:2px solid #0fd663;
}

.navbar-collapse {
  background: #fff;
}

.bgCard {
  max-width: 100%;
  margin: 10px auto;
  background-color: #fff;
  border-radius: 5px;
  
  -webkit-box-shadow: 0px 0px 8px -1px rgba(0,0,0,0.05);
  -moz-box-shadow: 0px 0px 8px -1px rgba(0,0,0,0.05);
  box-shadow: 0px 0px 8px -1px rgba(0,0,0,0.05);
}

.bgCard-auth {
  max-width: 100%;
  margin: 40px auto;
  background-color: #fff;
  border-radius: 5px;
  padding-top: 10px;
  padding-bottom: 30px;
  padding-right: 20px;
  padding-left: 20px;
  
  -webkit-box-shadow: 0px 0px 8px -1px rgba(0,0,0,0.05);
  -moz-box-shadow: 0px 0px 8px -1px rgba(0,0,0,0.05);
  box-shadow: 0px 0px 8px -1px rgba(0,0,0,0.05);
}

.panelInfo {
  position: relative;
}

.panelTitle {
  position: relative;
  top: 0;
  width: 100%;
  padding-top: 10px;
  padding-bottom: 10px;
  border-bottom: 1px solid rgba(0,0,0,.05);
}

.panelFooter {
  position: relative;
  top: 0;
  width: 100%;
  padding-top: 30px;
  padding-bottom: 30px;
  border-top: 1px solid rgba(0,0,0,.05);
}

.mainTitle { 
  font-family: 'Proxima Nova Bl';
  font-size: 1.2em;
  letter-spacing: 0.1em;
  padding-left: 15px;
}

.mainTitleBig { 
  font-family: 'Proxima Nova Bl';
  font-size: 1.4em;
  letter-spacing: 0.1em;
  padding-left: 15px;
}

.mainTitleBand { 
  font-family: 'Proxima Nova Bl';
  font-size: 1.5em;
  letter-spacing: 0.1em;
}

.mainTitleOrg { 
  font-family: 'Proxima Nova Bl';
  font-size: 1.5em;
  letter-spacing: 0.1em;
  padding-left: 25px;
  text-align: left;
}

.mainTitleGig { 
  font-family: 'Proxima Nova Bl';
  font-size: 1.7em;
  letter-spacing: 0.1em;
  padding-left: 25px;
  text-align: left;
}

.mainTitleGig a { 
  color: #59595a !important
}

.subTitleGig { 
  font-family: 'Proxima Nova Rg';
  font-size: 0.9em;
  color: #7f8c8d;
  letter-spacing: 0.1em;
  line-height: 1.5em;
  padding-left: 25px;
}

.subTitle { 
  font-family: 'Proxima Nova Rg';
  font-size: 0.9em;
  color: #7f8c8d;
  letter-spacing: 0.1em;
  line-height: 1.5em;
  padding-left: 15px;
}

.titleBand {
  font-family: 'Proxima Nova Bl';
  font-size: 1.1em;
  padding-top: 4px;
  letter-spacing: 0.2em;
  color: #333;
}

.panelBody {
  position: relative;
  width: 100%;
  padding-top: 0;
  padding-bottom: 0px;
  padding-right: 15px;
  padding-left: 15px;
}

.panelSidemenu {
  position: relative;
  width: 100%;
}

.panelBandList {
  position: relative;
  width: 100%;
}

.createBand {
  position: relative;
  text-align: center;
  margin:10px auto;
  width: 40%;
  padding-top: 20px;
  padding-bottom: 40px;
}

.sideMenu {
  position: relative;
  width: 100%;
  margin:0;
  padding: 0;
  list-style: none;
}

.sideMenu li{
  width: 100%;
  font-family: 'Proxima Nova Rg';
  letter-spacing: 0.1em;
  border-bottom: 1px solid #eee;
  padding: 15px 15px 15px 15px;
  color: #333;
}

.sideMenu li:hover{
  background: #f4f4f4;
  color: #f0810b;
  text-decoration: none !important;
}

.sideMenu-search {
  position: relative;
  width: 100%;
  margin:0;
  padding: 0;
  list-style: none;
}

.sideMenu-search li{
  width: 100%;
  font-family: 'Proxima Nova Rg';
  letter-spacing: 0.1em;
  padding: 10px 10px 10px 10px;
  color: #333;
}

.sideMenu-search li:hover{
  background: #f4f4f4;
  color: #f0810b;
  text-decoration: none !important;
}

.sideMenu-search-overflow {
  position: relative;
  width: 100%;
  margin:0;
  padding: 0;
  list-style: none;
  max-height: 300px;
  overflow-y: auto;
}

.sideMenu-search-overflow li{
  width: 100%;
  font-family: 'Proxima Nova Rg';
  letter-spacing: 0.1em;
  padding: 10px 10px 10px 10px;
  color: #333;
}

.sideMenu-search-overflow li:hover{
  background: #f4f4f4;
  color: #f0810b;
  text-decoration: none !important;
}

.formDashboard {
  position: relative;
  margin:10px auto;
  width: 100%;
}

.thumb {
  width: 40px;
  height: 40px;
}

.thumbGig {
  width: 80px;
  height: 80px;
}

.thumbSquare {
/* make it responsive */
    max-width: 120px;
    width:120px;
    height:120px;
    display:block;
    
    /* make it a cirkle */
    border-radius:3%;
    
    /* Centering on image`s center*/
    background-position-y: center;
    background-position-x: center;
    background-repeat: no-repeat;
}

.thumbBig {
/* make it responsive */
    max-width: 120px;
    width:120px;
    height:160px;
    display:block;
    margin-bottom: 10px;
    
    /* make it a cirkle */
    border-radius:3%;
    
    /* Centering on image`s center*/
    background-position-y: center;
    background-position-x: center;
    background-repeat: no-repeat;
}

.thumbSide {
  position: relative;
  width: 20%;
  margin-right: 10px;
}

.titleSide {
  position: relative;
  width: 80%;
}

.fa-facebook-square {
  color: #3b5998;
}

.fa-twitter {
  color: #55acee;
}

.twitterWhite {
  color: #fff;
}

.fa-instagram {
  color: #125688;
}

.fa-soundcloud {
  color: #f78710;
}

.fa-youtube-play {
  color: #bb0000;
}

.ProfileBand {
  position: relative;
  margin:0 auto;
  padding-top: 10px;
  padding-bottom: 15px;
  border-bottom: 1px solid #f3f3f3;
}

.descBand {
  font-family: 'Proxima Nova Lt';
  text-align: justify;
  font-size: 1.1em;
  padding-left: 15px;
  padding-right: 15px;
}

.ProfileOrg {
  position: relative;
  margin:0 auto;
  padding-top: 10px;
  padding-bottom: 15px;
  border-bottom: 1px solid #f3f3f3;
}

.media {
  padding-left: 25px;
  padding-right: 25px;
  padding-top: 15px;
  padding-bottom: 15px;
  margin-top: 0px;
  border-bottom: 1px solid #f3f3f3;
}

.media-body .body {
  font-size: 0.9em;
  color: #7f8c8d;
}

.media, .media-body {
  overflow: visible
}

.media-body {
  padding-left: 15px;
}

.media-body h3{
  font-family: 'Proxima Nova Bl';
  font-size: 1.4em;
  letter-spacing: 0.05em;
  margin-top: 5px;
}

.dropdown-menu {
  z-index: 999999 !important; 
}

.label-transparent {
  font-family: 'Proxima Nova Rg';
  font-weight: 100;
  font-size: 1em;
  background-color: rgba(0, 0, 0, 0.7);
  color:#fff;
}

.label-genre {
  font-size: 1em;
  background: #fff;
  color:#7f8c8d;
  border: 1px solid #eee;
}

.label-statusClosed {
  padding: 6px;
  position: relative;
  font-size: 1em;
  background: #fff;
  color:#CF000F;
  border: 1px solid #CF000F;
}

.label-statusOpen {
  padding: 6px;
  position: relative;
  font-size: 1em;
  background: #fff;
  color:#2ECC71;
  border: 1px solid #2ECC71;
}


/* content styles */

.inside {
  margin-top: 20px;
  margin-bottom: 20px;
}
.inside-full-height {
  /*
  // if you want to give content full height give him height: 100%;
  // with content full height you can't apply margins to the content
  // content full height does not work in ie http://stackoverflow.com/questions/27384433/ie-display-table-cell-child-ignores-height-100
  */
  height: 100%;
  margin-top: 0;
  margin-bottom: 0;
}
.content {
  padding-top: 25px;
  padding-left: 3px;
  padding-bottom: 0px;
  padding-right:3px;
}

/* columns of same height styles */

.row-height {
  display: table;
  table-layout: fixed;
  height: 100%;
  width: 100%;
}
.col-height {
  display: table-cell;
  float: none;
  height: 100%;
}
.col-top {
  vertical-align: top;
}
.col-middle {
  vertical-align: middle;
}
.col-bottom {
  vertical-align: bottom;
}

.table-center {
  display: table;
  width: 100%;
  height: 100%;
  min-height: 100%;
}
.middle {
      display: inline-block;
      vertical-align: middle;
    float:none;
}

.subTitleGigFront { 
  font-family: 'Proxima Nova Rg';
  font-size: 0.9em;
  color: #7f8c8d;
  letter-spacing: 0.1em;
  line-height: 1.5em;
}

.gigInfo{
  position: relative;
  padding-top: 10px;
  width: 100%;
  height: 80px;
  margin-top: 15px;
}

.gigInfoLeft{
  position: relative;
  float: left;
  width: 50%;
  height: 80px;
}

.gigInfoRight{
  position: relative;
  float: right;
  width: 50%;
  height: 80px;
}


/* USER PROFILE PAGE */
 .card {
    margin-top: 20px;
    padding: 30px;
    background-color: rgba(214, 224, 226, 0.2);
    -webkit-border-top-left-radius:5px;
    -moz-border-top-left-radius:5px;
    border-top-left-radius:5px;
    -webkit-border-top-right-radius:5px;
    -moz-border-top-right-radius:5px;
    border-top-right-radius:5px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.card.hovercard {
    position: relative;
    padding-top: 0;
    overflow: hidden;
    text-align: center;
    background-color: #fff;
    background-color: rgba(0, 0, 0, 1);
}
.card.hovercard .card-background {
    height: 180px;
}
.card-background img {
    -webkit-filter: blur(25px);
    -moz-filter: blur(25px);
    -o-filter: blur(25px);
    -ms-filter: blur(25px);
    filter: blur(25px);
    margin-left: -20%;
    margin-top: -200px;
    min-width: 140%;
}
.card.hovercard .useravatar {
    position: absolute;
    top: 15px;
    left: 0;
    right: 0;
}
.card.hovercard .useravatar img {
    width: 100px;
    height: 100px;
    max-width: 100px;
    max-height: 100px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    border: 2px solid rgba(255, 255, 255, 0.4);
}
.card.hovercard .card-info {
    position: absolute;
    bottom: 55px;
    left: 0;
    right: 0;
}

.card.hovercard .card-info-detail {
    position: absolute;
    bottom: 15px;
    left: 0;
    right: 0;
}
.card.hovercard .card-info-genre {
    position: absolute;
    top: 15px;
    bottom: 0;
    right: 10px;
}
.card.hovercard .card-info .card-title {
  position: relative;
    font-family: 'Proxima Nova Bl';
    padding:5px 10px;
    font-size: 1.6em;
    line-height: 1;
    color: #FFF;
    background-color: rgba(0, 0, 0, 0.2);
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}
.card.hovercard .card-info-detail .card-title-detail {
    position: relative;
    font-family: 'Proxima Nova Rg';
    padding:5px 10px;
    font-size: 1.1em;
    line-height: 1;
    color: #FFF;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    background-color: rgba(0, 0, 0, 0.2);
}
.card.hovercard .card-info {
    font-size: 12px;
    line-height: 20px;
    color: #737373;
    text-overflow: ellipsis;
}
.card.hovercard .bottom {
    padding: 0 20px;
    margin-bottom: 17px;
}

.card.hovercard-gig {
    position: relative;
    padding-top: 0;
    overflow: hidden;
    text-align: center;
    background-color: #fff;
    background-color: rgba(0, 0, 0, 1);
}
.card.hovercard-gig .card-background-gig {
    height: 220px;
}
.card-background-gig img {
    -webkit-filter: blur(25px);
    -moz-filter: blur(25px);
    -o-filter: blur(25px);
    -ms-filter: blur(25px);
    filter: blur(25px);
    margin-left: -20%;
    margin-top: -200px;
    min-width: 140%;
}
.card.hovercard-gig .useravatar-gig {
    position: absolute;
    top: 15px;
    left: 0;
    right: 0;
}
.card.hovercard-gig .useravatar-gig img {
    width: 100px;
    height: 100px;
    max-width: 100px;
    max-height: 100px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    border: 2px solid rgba(255, 255, 255, 0.4);
}
.card.hovercard-gig .card-info-gig {
    position: absolute;
    bottom: 95px;
    left: 0;
    right: 0;
}

.card.hovercard-gig .card-info-detail-gig {
    position: absolute;
    bottom: 15px;
    left: 0;
    right: 0;
}
.card.hovercard-gig .card-info-genre-gig {
    position: absolute;
    bottom: 53px;
    left: 0;
    right: 0;
}
.card.hovercard-gig .card-info-apply-gig {
    position: absolute;
    bottom: 0;
    top: 15px;
    right: 15px;
}
.card.hovercard-gig .card-info-gig .card-title-gig {
  position: relative;
    font-family: 'Proxima Nova Bl';
    padding:5px 10px;
    font-size: 1.6em;
    line-height: 1;
    color: #FFF;
    background-color: rgba(0, 0, 0, 0.2);
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}
.card.hovercard-gig .card-info-detail-gig .card-title-detail-gig {
    position: relative;
    font-family: 'Proxima Nova Rg';
    padding:5px 10px;
    font-size: 1.1em;
    line-height: 1;
    color: #FFF;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}
.card.hovercard-gig .card-info-gig {
    font-size: 12px;
    line-height: 20px;
    color: #737373;
    text-overflow: ellipsis;
}
.card.hovercard-gig .bottom {
    padding: 0 20px;
    margin-bottom: 17px;
}
.btn-pref .btn {
    -webkit-border-radius:0 !important;
}

.well{
  background: #fff;
  border: 1px solid transparent;
   -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}

.input-group {
  margin-bottom: 10px;
}

.mainTitle a{
  color: #59595a !important;
}

.panelTitle [data-toggle="collapse"]:after
{
  font-family: 'Glyphicons Halflings';
  content:"\2212";
  
  position: absolute;
  right: 10px;
  color: #59595a;
  font-size: 0.6em;
  line-height: 14px;
}
.panelTitle [data-toggle="collapse"].collapsed:after
{
  font-family: 'Glyphicons Halflings';
  content: "\e072";
  -webkit-transform: rotate(90deg);
  -moz-transform:    rotate(90deg);
  -ms-transform:     rotate(90deg);
  -o-transform:      rotate(90deg);
  transform:         rotate(90deg);
}

.panelTitleGig [data-toggle="collapse"]:after
{
  font-family: 'Glyphicons Halflings';
  content:"\2212";
  position: absolute;
  top: 15px;
  right: 15px;
  color: #59595a;
  font-size: 0.5em;
  line-height: 14px;
  -webkit-transform: rotate(180deg);
  -moz-transform:    rotate(180deg);
  -ms-transform:     rotate(180deg);
  -o-transform:      rotate(180deg);
  transform:         rotate(180deg);

}
.panelTitleGig [data-toggle="collapse"].collapsed:after
{
  font-family: 'Glyphicons Halflings';
  content: "\e072";
  -webkit-transform: rotate(90deg);
  -moz-transform:    rotate(90deg);
  -ms-transform:     rotate(90deg);
  -o-transform:      rotate(90deg);
  transform:         rotate(90deg);
}

.account-section {
  position: relative;
  margin-top: 40px;
}

.notification-counter { 
  position: absolute;
  top: 10px;
  left: 30px;
  background-color: #e51e31;
  color: #fff;
  border-radius: 50%;
  padding: 2px 4px;
  font: 9px Verdana;
}

.unreadNotif {
  background: #f3f5f7;
  border-bottom:1px solid #ebebeb;
}

.nopadding {
   padding: 0 !important;
   margin: 0 !important;
}

.card-gig {
  margin-top: 10px;
  margin-bottom: 20px;
  box-sizing: border-box;
  border-radius: 5px;
  background-clip: padding-box;
  background: #fff;
  -webkit-box-shadow: 0px 0px 8px -1px rgba(0,0,0,0.05);
  -moz-box-shadow: 0px 0px 8px -1px rgba(0,0,0,0.05);
  box-shadow: 0px 0px 8px -1px rgba(0,0,0,0.05);
}

.card-gig .card-image {
  position: relative;
  overflow: hidden;
  max-height: 200px;
  -moz-border-top-left-radius: 5px;
 -webkit-border-top-left-radius: 5px;
 border-top-left-radius: 5px;
 -moz-border-top-right-radius: 5px;
 -webkit-border-top-right-radius: 5px;
 border-top-right-radius: 5px;
}
.card-gig .card-image img {
  background-clip: padding-box;
  position: relative;
}

.card-gig .card-image span.card-info-date {
  z-index: 2;
  position: absolute;
  top: 10px;
  right: 10px;
}

.card-gig .card-image span.card-info-genre {
  z-index: 2;
  position: absolute;
  top: 10px;
  left: 10px;
}
.card-gig .card-image span.card-info-title {
  font-family: 'Proxima Nova Bl';
  font-size: 1.4em;
  color: #fff;
  z-index: 2;
  position: absolute;
  bottom: 28px;
  left: 0;
  padding: 5px 10px 5px 16px;

 
}
.card-gig .card-image span.card-info-by {
  font-family: 'Proxima Nova Rg';
  font-size: 0.9em;
  color: #fff;
  z-index: 2;
  position: absolute;
  bottom: 10px;
  left: 0;
  padding: 5px 10px 5px 16px;
  
}
.card-gig .card-image span.card-btn {
  z-index: 2;
  position: absolute;
  top: 20px;
  right: 0;
  padding: 16px;
}

.card-gig .card-image span.card-info-by a {
  color: #e84429;
}
.card-gig .card-content {
  padding: 16px;
  background: #fff;
  border-radius: 0 0 6px 6px;
  background-clip: padding-box;
  box-sizing: border-box;
}
.card-gig .card-content p {
  margin: 0;
  color: inherit;
}
.card-gig .card-content .card-info-regisTime {
  margin: 0;
  color: inherit;
}
.registTitle { 
  font-family: 'Proxima Nova Bl';
  font-size: 1em;
  letter-spacing: 0.01em;
}
.card-gig .card-content .card-info-regisTime span.registInfo{
  font-family: 'Proxima Nova Rg';
  float: right;
  font-size: 0.9em; 
}
.card-gig .card-content span.card-info-title {
  line-height: 48px;
}
.card-gig .card-action .card-info-by {
  position: relative;
  display: inline-block;
  color: #b6b6b6;

}
.card-gig .card-action {
  border-top: 1px solid rgba(160, 160, 160, 0.2);
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 20px;
  padding-bottom: 20px;
}
.card-gig .card-action a {
  color: #ffab40;
  transition: color 0.3s ease;
}
.card-gig .card-action a:hover {
  color: #ffd8a6;
  text-decoration: none;
}

.gradient {
    position: absolute;
    width: 100%;
    z-index: 1;
    height: 20vh;
    background: -webkit-linear-gradient(bottom, rgba(0, 0, 0, 1) 0, rgba(0, 0, 0, .01) 100%);
    background: -moz-linear-gradient(bottom, rgba(0, 0, 0, 1) 0, rgba(0, 0, 0, .01) 100%);
    background: linear-gradient(0deg, rgba(0, 0, 0, 1) 0, rgba(0, 0, 0, .01) 100%);
    bottom: 0;
}

.gradientViolet {
    position: absolute;
    width: 100%;
    z-index: 1;
    height: 50vh;
    background: -webkit-linear-gradient(bottom, rgba(167, 123, 227, .3) 0, rgba(72, 73, 182, .3) 100%);
    background: -moz-linear-gradient(bottom, rgba(167, 123, 227, .3) 0, rgba(72, 73, 182, .3) 100%);
    background: linear-gradient(0deg, rgba(167, 123, 227, .3) 0, rgba(72, 73, 182, .3) 100%);
    bottom: 0;
}

.gradientGreen {
    position: absolute;
    width: 100%;
    z-index: 1;
    height: 50vh;
    background: -webkit-linear-gradient(bottom, rgba(90, 179, 167, .5) 0, rgba(98, 172, 135, .5) 100%);
    background: -moz-linear-gradient(bottom, rgba(90, 179, 167, .5) 0, rgba(98, 172, 135, .5) 100%);
    background: linear-gradient(0deg, rgba(90, 123, 167, .5) 0, rgba(98, 172, 135, .5) 100%);
    bottom: 0;
}

.date {
  
  z-index: 1;
  background: rgba(232, 68, 41, 0.9);
  width: 50px;
  height: 50px;
  padding: 5px 0;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  border-radius: 100%;
  color: #FFFFFF;
  font-weight: 700;
  text-align: center;
  -webkti-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.date .day {
  position: absolute;
  top: 7px;
  left: 16px;
  font-size: 1.1em;
  padding: 0;
}
.date .month {
  position: absolute;
  top: 26px;
  left: 12px;
  font-size: 0.8em;
  padding: 0;
  text-transform: uppercase;
}

.separator {
  width:100%; 
  text-align:center; 
  border-bottom: 1px solid #eee; 
  line-height:0.1em; 
  margin:20px 0 20px; 
} 
.separator span { 
  background:#fff; 
  padding:0 10px; 
}

.pagination>.active>a, .pagination>.active>a:focus, .pagination>.active>a:hover, .pagination>.active>span, .pagination>.active>span:focus, .pagination>.active>span:hover {
    z-index: 3;
    color: #fff;
    cursor: default;
    background-color: #cccccc !important;
    border-color: #cccccc;
}

.pagination > li > a {
  color: #8f8f8f;
}

.pagination > li > a:focus,
.pagination > li > a:hover,
.pagination > li > span:focus,
.pagination > li > span:hover {
    z-index: 3;
    color: #fff;
    background-color: #cccccc;
    border-color: #cccccc;
}

.footerNav li {
  font-family: 'Proxima Nova Rg';
  font-size: 0.8em;
  display: inline;
  padding-right: 20px;
}

.footerNav li a{
  color: #777;
}

#footer{
        position: absolute;
        padding-top: 20px;
        padding-bottom: 10px;
        padding-left: 20px;
        padding-right: 20px;
        bottom: 0;
        width: 100%;
        max-height: 100px;
        background-color: #ffffff;
        border-top: 1px solid #F8F8F8;
}
#footer p {
        font-size: 1em;
}
.bottomBtn {
  position: relative;
  padding-top: 30px;
  padding-bottom: 50px;
}

.modal {
  text-align: center;
}

@media screen and (min-width: 768px) { 
  .modal:before {
    display: inline-block;
    vertical-align: middle;
    content: " ";
    height: 100%;
  }
}

.modal-dialog {
  display: inline-block;
  text-align: left;
  vertical-align: middle;
}


@media (max-width: 768px){

}