@font-face {
  font-family: 'Proxima Nova Rg';
  src: url('../fonts/ProximaNova-Regular.eot');
  src: url('../fonts/ProximaNova-Regular.eot?#iefix') format('embedded-opentype'),
    url('../fonts/ProximaNova-Regular.woff') format('woff'),
    url('../fonts/ProximaNova-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Proxima Nova Bl';
  src: url('../fonts/ProximaNova-Black.eot');
  src: url('../fonts/ProximaNova-Black.eot?#iefix') format('embedded-opentype'),
    url('../fonts/ProximaNova-Black.woff') format('woff'),
    url('../fonts/ProximaNova-Black.ttf') format('truetype');
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: 'Proxima Nova Rgi';
  src: url('../fonts/ProximaNova-RegularIt.eot');
  src: url('../fonts/ProximaNova-RegularIt.eot?#iefix') format('embedded-opentype'),
    url('../fonts/ProximaNova-RegularIt.woff') format('woff'),
    url('../fonts/ProximaNova-RegularIt.ttf') format('truetype');
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'Proxima Nova Bli';
  src: url('../fonts/ProximaNova-BoldIt.eot');
  src: url('../fonts/ProximaNova-BoldIt.eot?#iefix') format('embedded-opentype'),
    url('../fonts/ProximaNova-BoldIt.woff') format('woff'),
    url('../fonts/ProximaNova-BoldIt.ttf') format('truetype');
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: 'Proxima Nova Eb';
  src: url('../fonts/ProximaNova-Extrabld.eot');
  src: url('../fonts/ProximaNova-Extrabld.eot?#iefix') format('embedded-opentype'),
    url('../fonts/ProximaNova-Extrabld.woff') format('woff'),
    url('../fonts/ProximaNova-Extrabld.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Proxima Nova Bl';
  src: url('../fonts/ProximaNova-Bold.eot');
  src: url('../fonts/ProximaNova-Bold.eot?#iefix') format('embedded-opentype'),
    url('../fonts/ProximaNova-Bold.woff') format('woff'),
    url('../fonts/ProximaNova-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Proxima Nova Sb';
  src: url('../fonts/ProximaNova-Semibold.eot');
  src: url('../fonts/ProximaNova-Semibold.eot?#iefix') format('embedded-opentype'),
    url('../fonts/ProximaNova-Semibold.woff') format('woff'),
    url('../fonts/ProximaNova-Semibold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Proxima Nova Lt';
  src: url('../fonts/ProximaNova-Light.eot');
  src: url('../fonts/ProximaNova-Light.eot?#iefix') format('embedded-opentype'),
    url('../fonts/ProximaNova-Light.woff') format('woff'),
    url('../fonts/ProximaNova-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Proxima Nova Sbi';
  src: url('../fonts/ProximaNova-SemiboldIt.eot');
  src: url('../fonts/ProximaNova-SemiboldIt.eot?#iefix') format('embedded-opentype'),
    url('../fonts/ProximaNova-SemiboldIt.woff') format('woff'),
    url('../fonts/ProximaNova-SemiboldIt.ttf') format('truetype');
  font-weight: 600;
  font-style: italic;
}

@font-face {
  font-family: 'Proxima Nova Lti';
  src: url('../fonts/ProximaNova-LightIt.eot');
  src: url('../fonts/ProximaNova-LightIt.eot?#iefix') format('embedded-opentype'),
    url('../fonts/ProximaNova-LightIt.woff') format('woff'),
    url('../fonts/ProximaNova-LightIt.ttf') format('truetype');
  font-weight: 300;
  font-style: italic;
}

html {
  height: 100%;
  box-sizing: border-box;
}
body {
        font-family: 'Proxima Nova Rg';
        background: #fafafa;
        height: 100%;
        position: relative;
        color: #59595a;
}
h1 {
    font-family: 'Proxima Nova Eb';
}
h2 {
    font-family: 'Proxima Nova Lt';
}
a {
  color:#e8442c; 
}

a:hover, a:link, a:active
{
    text-decoration: none;
}
.nopadding {
   padding: 0 !important;
   margin: 0 !important;
}
.container {
  max-width: 1140px;
}
.headerTitle {
    font-size: 2.4em;
    color: #59595a !important;
    font-family: 'Proxima Nova Bl';
    margin-top: 35px;
    margin-bottom: 25px;
}
.navbar-default .navbar-nav>.open>a, .navbar-default .navbar-nav>.open>a:focus, .navbar-default .navbar-nav>.open>a:hover {
  color: #ffab40;
  background: transparent;
}

.dropdown-menu {
  position: absolute;
  top:60px;
    border-radius: 5px !important;
}


#wrapper {
    position:relative;
    min-height:100%;
}
#content {
    padding-bottom:100px; /* Height of the footer element */
}
.navbar-default {
    background: transparent;
    border: 1px solid transparent;
    padding-top: 15px;
}
.navbar-brand{
    position: relative;
    width: 220px;
    height: 50px;
    background: url('../images/adagigslogo.png') no-repeat;
    background-position: 50% 50%; 
    margin-right: 20px;
}
.navbar-default .navbar-nav>li>a {
    font-family: 'Proxima Nova Rg';
    font-size: 1em;
    letter-spacing: .09em;
    color: #fff;
    text-transform: capitalize;
}
.navbar-default .navbar-nav>li>a:hover {
    color: #fff;
}
.headerTop {
    position: relative;
    width: 100%;
    min-height: 450px;
    background: url('../images/headertop3.jpg');
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
.headerSearch {
    position: relative;
    width: 100%;
    padding-top: 60px;
    height: 300px;
    text-align: center;
}
.headerSearch h1{
    font-size: 4em;
    color: #fff;
}
.headerSearch h2{
    font-size: 1.4em;
    color: #fff;
    margin-top: 0;
}
.searchBox {
  margin-top: 20px;
}
.right-inner-addon {
    position: relative;
}
.right-inner-addon input {
    height: 2em;
    padding: .5em;
    font-size: 1.3em;
    background: rgba(255,255,255,1);
    color: #333;
    border: 0;
    border-top-right-radius: 5px !important;
    border-bottom-right-radius: 5px !important;
    padding-left: 1em;  
    height: 56px; 
}
.right-inner-addon i {
    position: absolute;
    left: 132px;
    padding: 13px 13px;
    z-index: 9;
    pointer-events: none;
}

.btn-filter {
  position: relative;
  height: 56px;
  width: 130px;
  border: 0;
  background: #f3f3f3;
}


.card-gig {
  margin-top: 10px;
  margin-bottom: 20px;
  box-sizing: border-box;
  border-radius: 5px;
  background-clip: padding-box;
  background: #fff;
  -webkit-box-shadow: 0px 0px 8px -1px rgba(0,0,0,0.05);
  -moz-box-shadow: 0px 0px 8px -1px rgba(0,0,0,0.05);
  box-shadow: 0px 0px 8px -1px rgba(0,0,0,0.05);
}

.card-gig .card-image {
  position: relative;
  overflow: hidden;
  max-height: 200px;
  -moz-border-top-left-radius: 5px;
 -webkit-border-top-left-radius: 5px;
 border-top-left-radius: 5px;
 -moz-border-top-right-radius: 5px;
 -webkit-border-top-right-radius: 5px;
 border-top-right-radius: 5px;
}
.card-gig .card-image img {
  background-clip: padding-box;
  position: relative;
}

.card-gig .card-image span.card-info-date {
  z-index: 2;
  position: absolute;
  top: 10px;
  right: 10px;
}

.card-gig .card-image span.card-info-genre {
  z-index: 2;
  position: absolute;
  top: 10px;
  left: 10px;
}
.card-gig .card-image span.card-info-title {
  font-family: 'Proxima Nova Bl';
  font-size: 1.25em;
  color: #fff;
  z-index: 2;
  position: absolute;
  bottom: 28px;
  left: 0;
  padding: 5px 10px 5px 16px;
  text-transform: uppercase;
}
.card-gig .card-image span.card-info-title a {
  color: #fff;
}
.card-gig .card-image span.card-info-by {
  font-family: 'Proxima Nova Rg';
  font-size: 0.9em;
  color: #fff;
  z-index: 2;
  position: absolute;
  bottom: 10px;
  left: 0;
  padding: 5px 10px 5px 16px;
  
}
.card-gig .card-image span.card-btn {
  z-index: 2;
  position: absolute;
  top: 20px;
  right: 0;
  padding: 16px;
}

.card-gig .card-image span.card-info-by a {
  color: #e84429;
}
.card-gig .card-content {
  padding: 16px;
  background: #fff;
  border-radius: 0 0 6px 6px;
  background-clip: padding-box;
  box-sizing: border-box;
}
.card-gig .card-content p {
  margin: 0;
  color: inherit;
}
.card-gig .card-content .card-info-regisTime {
  margin: 0;
  color: inherit;
}
.registTitle { 
  font-family: 'Proxima Nova Bl';
  font-size: 1em;
  letter-spacing: 0.01em;
}
.card-gig .card-content .card-info-regisTime span.registInfo{
  font-family: 'Proxima Nova Rg';
  float: right;
  font-size: 0.9em; 
}
.card-gig .card-content span.card-info-title {
  line-height: 48px;
}
.card-gig .card-action .card-info-by {
  position: relative;
  display: inline-block;
  color: #b6b6b6;

}
.card-gig .card-action {
  border-top: 1px solid rgba(160, 160, 160, 0.2);
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 20px;
  padding-bottom: 20px;
}
.card-gig .card-action a {
  color: rgba(232, 68, 41, 0.9);
}
.card-gig .card-action a:hover {
  color: rgba(232, 68, 41, 0.5);
  text-decoration: none;
}

.gradient {
    position: absolute;
    width: 100%;
    z-index: 1;
    height: 15vh;
    background: -webkit-linear-gradient(bottom, rgba(0, 0, 0, 1) 0, rgba(0, 0, 0, .01) 100%);
    background: -moz-linear-gradient(bottom, rgba(0, 0, 0, 1) 0, rgba(0, 0, 0, .01) 100%);
    background: linear-gradient(0deg, rgba(0, 0, 0, 1) 0, rgba(0, 0, 0, .01) 100%);
    bottom: 0;
}

.gradientViolet {
    position: absolute;
    width: 100%;
    z-index: 1;
    height: 50vh;
    background: -webkit-linear-gradient(bottom, rgba(167, 123, 227, .3) 0, rgba(72, 73, 182, .3) 100%);
    background: -moz-linear-gradient(bottom, rgba(167, 123, 227, .3) 0, rgba(72, 73, 182, .3) 100%);
    background: linear-gradient(0deg, rgba(167, 123, 227, .3) 0, rgba(72, 73, 182, .3) 100%);
    bottom: 0;
}

.gradientGreen {
    position: absolute;
    width: 100%;
    z-index: 1;
    height: 50vh;
    background: -webkit-linear-gradient(bottom, rgba(90, 179, 167, .5) 0, rgba(98, 172, 135, .5) 100%);
    background: -moz-linear-gradient(bottom, rgba(90, 179, 167, .5) 0, rgba(98, 172, 135, .5) 100%);
    background: linear-gradient(0deg, rgba(90, 123, 167, .5) 0, rgba(98, 172, 135, .5) 100%);
    bottom: 0;
}

.date {
  
  z-index: 1;
  background: rgba(232, 68, 41, 0.9);
  width: 50px;
  height: 50px;
  padding: 5px 0;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  border-radius: 100%;
  color: #FFFFFF;
  font-weight: 700;
  text-align: center;
  -webkti-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.date .day {
  position: absolute;
  top: 7px;
  left: 16px;
  font-size: 1.1em;
  padding: 0;
}
.date .month {
  position: absolute;
  top: 26px;
  left: 12px;
  font-size: 0.8em;
  padding: 0;
  text-transform: uppercase;
}
.label-genre {
  font-size: 1em;
  background: #fff;
  color:#7f8c8d;
  border: 1px solid #eee;
}
.label-transparent {
  font-family: 'Proxima Nova Rg';
  font-weight: 100;
  font-size: 1em;
  background-color: rgba(0, 0, 0, 0.7);
  color:#fff;
}
.btn-more-wrap{
  position: relative;
  margin-top: 25px;
  margin-bottom: 10px;
}
.footerNav li {
  font-family: 'Proxima Nova Rg';
  font-size: 0.8em;
  display: inline;
  padding-right: 20px;
}

.footerNav li a{
  color: #777;
}

#footer{
        position: absolute;
        padding-top: 20px;
        padding-bottom: 10px;
        padding-left: 20px;
        padding-right: 20px;
        bottom: 0;
        width: 100%;
        max-height: 100px;
        background-color: #ffffff;
        border-top: 1px solid #F8F8F8;
}
#footer p {
        font-size: 1em;
}

@media (max-width: 780px){
  .navbar>.container .navbar-brand, .navbar>.container-fluid .navbar-brand {
    margin-left: 15px;
  }
  .navbar-default .navbar-toggle {
    background: rgba(255,255,255,.2);
    border: 1px solid transparent;
  }
  .navbar-default .navbar-toggle:hover {
    background: rgba(255,255,255,.4);
    border: 1px solid transparent;
  }
  .navbar-default .navbar-toggle:focus {
    background: rgba(255,255,255,.4);
    border: 1px solid transparent;
  }
  .navbar-default .navbar-collapse, .navbar-default .navbar-form {
    border: 1px solid transparent;
    margin-top: 15px;
  }
  .navbar-collapse{
    width: 100%;
    position: absolute;
    z-index: 9999;
    background: rgba(0,0,0,.6);
  }
  .navbar-default .navbar-toggle .icon-bar{
      background-color: #fff;
  }
  .nav>li {
    border-bottom: 1px solid rgba(255,255,255,.3);
  }
  .navbar-nav {
    margin-top: 0;
    margin-right: -15px;
    margin-bottom: 0;
    margin-left: -15px;
}
  .headerTop {
    min-height: 550px;
  }
  .headerTop:after {
    min-height: 650px;
  }
} 

